.App {
    text-align: center;
    display: flex;
    font-weight: bold;
}

.btn {
    background-color: #04AA6D; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    content: "";
    clear: both;
    display: table;
}
